.faqContainer {
    padding: 10px;
    max-width: 800px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    font-size: 30px;
    margin-bottom: 1rem;
    color: tomato;
  }
  
  .faqItem {
    margin-bottom: 1.5rem;
  }
  
  .question {
    font-size: 18px;
    color: var(--white);
    margin-bottom: 0.5rem;
  }
  
  .answer {
    font-size: 15px;
    line-height: 1.6;
    color: var(--text-color);
  }
  