.noticeContainer {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  margin: 20px 0;
  color: var(--white);
  flex-direction: column;
  border: 0.5px solid var(--text-color);
}

.icon {
  font-size: 2.5rem;
  color: var(--active);
  margin-bottom: 20px;
}

.textContainer {
  flex: 1;
}

.textContainer h3 {
  margin: 0;
  font-size: 1.2rem;
  color: var(--active);
}

.textContainer p {
  margin: 5px 0;
  line-height: 1.5;
}
