.main_Data {
    width: 100%;
    color: var(--text-color);
    padding-top: 10px;
    padding-bottom: 18px;
    border-bottom: var(--text-color) 0.5px solid;
}

.days {
    display: flex;
    align-items: center;
    gap: 25px;
}

.day {
    cursor: pointer;
}

.date_Container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.day {
    font-size: 14px;
}

.date {
    font-size: 13px;
}

.today {
    color: white;
    font-size: 14px;
}

.today.month {
    font-size: 11px;
    color: white;
}

.month {
    font-size: 11px;
}
.live{
    background-color: white;
    padding: 5px;
}