.side_bar{
width: 100%;
color: var(--text-color);
}
.header{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    color: var(--text-color);
    border-bottom: var(--text-color) 1px solid;
}
.header input{
    flex: 1;
    background-color: transparent;
    outline: none;
    height: 100%;
    border: none;
    font-size: 20px;
    color: var(--text-color);
}
.header label{
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.colum{
    color: var(--text-color);
    padding: 10px;
    width: 100%;
    border-bottom: .5px solid var(--text-color);
}
.colum_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.colum_header .icon{
    font-size: 25px;
    display: flex;
    align-items: center;
    color: white;
}
.colum_content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
    margin-top: 10px;
}
.colum_cart{
    display: flex;
    gap: 10px;
}
.imgCon{
    position: relative;
    width: 20px;
    height: 20px;
}
