.subNavbar{
    width: 100%;
    padding: 0 5%;
}
.subNavbar ul{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}
.subNavbar ul li{
    list-style: none;
}
.links{
    text-decoration: none;
    color: var(--text-color);
    padding: 10px 10px;
    background-color:#4c4c501f ;
    border-radius: 9px;
    font-size: 13px;
    cursor: pointer;
    transition: .1s ease-in-out;
    font-weight: bolder;
    margin-bottom: 10px;
}
.links:hover{
    background-color:#444447ad  ;
    color: white;
}
.links.active{
    background-color: var(--active);
    color: white;
}
